<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MintBicycleConnectionString"
            connectionString="Data Source=112.64.131.222;Initial Catalog=BicycleDB;Persist Security Info=True;User ID=IngPAL;Password=zU$3Bf&amp;(g5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>